.WatchList {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.25);
    padding-bottom: 10px;
}
h2 {
    background: #28d383;
    margin: 0;
    padding: 15px;
    color: white;
    margin-bottom: 20px;
}
