.MovieItem {
    padding: 10px 40px;
    display: flex;
    justify-content: center;
}
.MovieItemInput {
    width: 68%;
    height: 30px;
    line-height: 30px;
    border: 1px solid #28d383;
    padding: 0 15px;
    font-size: 18px;
    color: #424242;
}
.MovieCloseBtn {
    background: #28d383;
    border: none;
    width: 30px;
    display: flex;
    align-items: center;
    text-align: center;
}
.MovieCloseBtn img {
    width: 100%;
    height: 100%;
}
