.InputMain {
    width: 67%;
    height: 40px;
    line-height: 40px;
    border: none;
    border-bottom: 1px solid #28d383;
    padding: 0 5px;
    color: #424242;
    outline: none;
    font-size: 20px;
}
