.AddButton {
    background: #28d383;
    border: none;
    color: white;
    width: 30%;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 5px;
}
.AddButton:hover {
    background: #158e56;
}
